[Unit]
Description=Prepare the namespace for qBitTorrent
Requires=netns-init@%i.service
After=netns-init@%i.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/systemd/system/netns-helper@.service.d/netns-helper.conf

#Bring up link-local and add virtual adapter pair
ExecStart=${IP_PATH} netns exec %i ip link set dev lo up
ExecStart=${IP_PATH} link add ${EXT_ADAPT_NAME} type veth peer name ${INT_ADAPT_NAME}

#Add address external adapter and bring it up
ExecStart=${IP_PATH} addr add ${EXT_ADAPT_ADDR}/24 dev ${EXT_ADAPT_NAME}
ExecStart=${IP_PATH} link set ${EXT_ADAPT_NAME} up

#Move internal adapter inside namespace, set it up.
ExecStart=${IP_PATH} link set ${INT_ADAPT_NAME} netns %i
ExecStart=${IP_PATH} -n %i addr add ${INT_ADAPT_ADDR}/24 dev ${INT_ADAPT_NAME}
ExecStart=${IP_PATH} -n %i link set ${INT_ADAPT_NAME} up
ExecStart=${IP_PATH} -n %i route add default via ${EXT_ADAPT_NAME}
ExecStart=${IP_PATH} -n %i route add ${EXT_ADAPT_ADDR}/32 via ${INT_ADAPT_ADDR} dev ${INT_ADAPT_NAME}

#Add route to access namespaced network from outside
ExecStart=${IP_PATH} route add ${INT_ADAPT_ADDR}/32 via ${EXT_ADAPT_ADDR} dev ${EXT_ADAPT_NAME}

#Enable IP forwarding
ExecStart=${ECHO_PATH} 1 > /proc/sys/net/ipv4/ip_forward

#IP tables rules for routing internet traffic. How does this work? Idk, I just copied it.
#Added execution to remove previous rules, if they exist as opposed to flushing them. Don't wanna flood the tables
ExecStart=${IPTABLES_PATH} -t nat -D POSTROUTING -s ${INT_ADAPT_ADDR}/24 -o ${WAN_ADAPT_NAME} -j MASQUERADE
ExecStart=${IPTABLES_PATH} -t nat -A POSTROUTING -s ${INT_ADAPT_ADDR}/24 -o ${WAN_ADAPT_NAME} -j MASQUERADE
ExecStart=${IPTABLES_PATH} -D FORWARD -i ${WAN_ADAPT_NAME} -o ${EXT_ADAPT_NAME} -j ACCEPT
ExecStart=${IPTABLES_PATH} -A FORWARD -i ${WAN_ADAPT_NAME} -o ${EXT_ADAPT_NAME} -j ACCEPT
ExecStart=${IPTABLES_PATH} -D FORWARD -o ${WAN_ADAPT_NAME} -i ${EXT_ADAPT_NAME} -j ACCEPT
ExecStart=${IPTABLES_PATH} -A FORWARD -o ${WAN_ADAPT_NAME} -i ${EXT_ADAPT_NAME} -j ACCEPT

#Bring up Wireguard interface inside container
#ExecStart=${IP_PATH} netns exec %i wg-quick up wg0